main{
    font-family: "Noto Sans KR", sans-serif;
    overflow: hidden;
    margin:0;
    height:1200px;
    background-image: linear-gradient(rgba(100,0,255,0.7),pink);
    
}
body{
    margin:0;
}
#head-top{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:60px;
    font-weight:bold;
    padding-top:100px;
    height:300px;
    width:100%; 
    color:white;

}
.line{
    border-top:1px solid white;
    margin:0px 30px 30px 30px;
}
#titlemac{
    border:1px solid white;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
    padding:20px;
    border-radius: 10px;
}
#menu{
    display: flex;
    justify-content: right;
}
.icon{
    filter:invert();
    width:70px;
    margin: 0px 40px 20px 0px;
    transition:0.5s;
}
.icon:hover{
    transform: scale(120%);
    transition:0.5s;
}
.left-text{
    width:100vw;

    text-align: left;
    margin:100px;
}
#photo{
    width:90%;
}
#right-text{
    margin:100px;
    text-align: right;
    font-size:20px;
}
#titletext{
    font-size:40px;
    color:rgb(255,255,255);
    font-weight: bold;
}
#text{
    color:rgb(240,240,240);
    font-size:20px;
}